<div class="container">
<h2 class="center-align">Messages</h2>

  <!-- <%= button_to "Create New Message", new_message_path, method: "get", class: "waves-effect waves-light blue lighten-3 btn" %>
    <div class="first"> -->
    <% current_user.received_messages.each do |msg| %>
        <% sent_from = User.find(msg[:user_sent]) %>
        <%="This conversation was started by: #{sent_from.first_name} #{sent_from.last_name}"%><br>
        <%=msg[:created_at]%><br>
        <% messag_e = Message.find(msg[:message_id]).message_content %>
            <br><%= "#{sent_from.first_name} #{sent_from.last_name}: " %><%=messag_e.capitalize.html_safe%><br><br>
        <%=button_to "Click To Reply", edit_message_path(msg), method: "get", class: "waves-effect waves-light blue lighten-3 btn"%><br>
    <% end %>
    </div>
    <div class="second">
    <% current_user.sent_messages.each do |msg| %>
        <% sent_from = User.find(msg[:user_sent]) %>
        <%="This conversation was started by: #{sent_from.first_name} #{sent_from.last_name}"%><br>
        <%= msg[:created_at] %><br>
        <% messag_e = Message.find(msg[:message_id]).message_content %>
        <br><%=messag_e.html_safe%><br><br>
        <%=button_to "Click To Reply", edit_message_path(msg), method: "get", class: "waves-effect waves-light blue lighten-3 btn"%><br>
    <% end %>
    </div>
  </div>
