
<div class="container">

  <% if @profile.user == current_user %>
  <h3 class="center"> <%= "Welcome, #{current_user.first_name} #{current_user.last_name}" %> </h3>
  <h5 class="center"> <em> <%= @profile.favorite_quote %> </em> </h5>

  <% else %>
  <h3 class="center"> <%= @profile.user.first_name %> <%= @profile.user.last_name %></h3>
  <h5 class="center"> <em> <%= @profile.favorite_quote %> </em> </h5>
  <% end %> <br>

<div class="center-align">
  <% if (flash[:request_notice].present?) %>
    <font color="green">  <%=flash[:request_notice]%> </font> <br>
      <% flash[:request_notice].clear %>
  <%end%>

  <% if (flash[:unfriend_msg].present?) %>
    <font color="red">  <%=flash[:unfriend_msg]%> </font> <br>
      <% flash[:unfriend_msg].clear %>
  <%end%>

  <% if (flash[:decline_notice].present?) %>
      <%=flash[:decline_notice]%> <br>
      <% flash[:decline_notice].clear %>
  <%end%>

  <% if (flash[:empty_message_error].present?) %>
    <font color="red"><%=flash[:empty_message_error]%>  </font><br>
    <% flash[:empty_message_error].clear %>
<%end%>

  <% if flash[:like_msg].present? %>
    <font color="red"> <%= flash[:like_msg] %> <br> <br> </font>
    <% end %>

  <% if flash[:dislike_msg].present? %>
    <font color="red"> <%= flash[:dislike_msg] %> <br> <br> </font>
    <% end %>
</div>





<div class="row">
    <div class="col s5 ">
      <div class="center">

      </div>

  <div class="center">
</div>

<div class="center">
  <div class="row">
        <div class="col s12">
          <div id="postcard", class="card hoverable grey lighten-5 z-depth-1 center">
            <div class="card-content black-text">
          <% if @profile.user.profile_pic.present? %>
          <%= image_tag @profile.user.profile_pic.url(:medium) %> <br>
          <% else %>
          <%= image_tag "no_user_logo.jpeg", size: "300x300" %> <br>
          <% end %>
          <% if friend_check %>
          <font color="green"> <%= "You are friends with #{@profile.user.first_name}"   %> </font> <br> <br>
          <%= button_to "Send Message", new_message_path(@profile), method: "get", class: "waves-effect waves-light blue lighten-3 btn" %> <br> <br>
          <%= button_to "Unfriend", delete_me_path, params: {id: @profile.id}, method: "delete", class: "waves-effect waves-light blue lighten-3 btn" %>

          <% end %>
          <% if current_user.profile == @profile %>
          <div class="center">
            <%= button_to "Create New Post", new_post_path, method: "get", class: "waves-effect waves-light blue lighten-3 btn" %> <br>
          </div>
          <% end %>
          <% if current_user.id != @profile.user_id && !friend_check && check_for_requests_second.empty? && check_for_requests_first.empty? %>
            <%=form_tag friend_request_path do %>
            <%=submit_tag "Send Friend Request", class: "waves-effect waves-light blue lighten-3 btn"%> <br> <br>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</div>


  <ul class="collection">
  <li class="collection-item"> First Name: <%= @profile.user.first_name %> </li>
  <li class="collection-item"> Last Name: <%= @profile.user.last_name %> </li>
  <li class="collection-item"> E-mail: <%= @profile.user.email %> </li>
  <li class="collection-item"> Username: <%= @profile.user.username %> </li>
  <li class="collection-item"> Favorite Quote:<%= @profile.favorite_quote %> </li>
</ul>

  <div class="center-align">
  <h4>Friends</h4>
  <% @profile.user.friends.each do |friend| %>
  <%= link_to image_tag(friend.profile_pic.url(:thumbnail)), profile_path(friend.profile) %>
  <% end %>
</div>
  </div>
  <div class="col s7">
  <% if @profile.user == current_user %>
  <h5 class="center">Recent Comments</h5>
  <ul class="collection">
    <% Post.all.each do |post|%>
    <% if post.user == current_user %>
    <% post.comments.reverse.each do |comment| %>
    <li class="collection-item avatar grey lighten-4 z-depth-5">
      <%= image_tag "#{comment.user.profile_pic ||= 'no_user_logo.jpeg'}", class:"circle" %>
      <span class="title"><strong> <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", profile_path(comment.user.profile) %></strong></span>
      <p>
        <%= comment.content %> <br>
      </p>
    </li>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </ul>
  <% if @profile.user.posts.present? %>
  <% @profile.user.posts.reverse.each do |post| %>

    <div class="row">
          <div class="col s12">
            <div id="postcard", class="card hoverable grey lighten-5 z-depth-1 center">
              <div class="card-content black-text">
                <%= post.created_at %>
                <div class="card-title">
                <em> <%= post.title %> </em> </div>
                <p>
                  <% if post.image.present? %>
                  <%= image_tag post.image.url(:medium) %>
                  <% end %> <br>
                  <%= post.content %> <br
                </p>

                <div class="row">
                  <div class="col s6">
                <%= button_to gen_like_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                <%= "#{post.likes.count} Likes"  %><i class="material-icons left">thumb_up</i>
                <% end %>
              </div>

              <div class="col s6">
                <%= button_to gen_dislike_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                <%= "#{post.dislikes.count} Dislikes"  %><i class="material-icons left">thumb_down</i>
                <% end %> <br> <br>
              </div>
                  </div>

                 <b> Comments </b> <br>
                 <ul class="collection">
                 <% post.comments.each do |comment| %>
                   <li class="collection-item avatar grey lighten-4 z-depth-5">
                     <%=image_tag "#{comment.user.profile_pic ||= 'no_user_logo.jpeg'}", class:"circle" %>
                     <span class="title left"><strong><%= link_to "#{comment.user.first_name} #{comment.user.last_name}", profile_path(comment.user.profile) %></strong></span>
                     <p><br>
                       <div class="left">
                       <%= comment.content %>
                     </div>
                       <br>
                       </p>
                     </li>
                 <% end %>
               </ul>

              </p>
              </div>
              <div class="card-action">
                <% if post.user == current_user %>
                <%= form_for @comment do |f| %>
                <%= f.text_field :content, placeholder: "type your comment here" %>
                <%= button_to create_comment_path, params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                Comment <i class="material-icons left">comment</i>
                <% end %>
                <% end %> <br>
                <%= button_to edit_post_path, method:"get", params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                Edit <i class="material-icons left">mode_edit</i>
                <% end %>

                <%= button_to delete_post_path, method: "delete", params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                Delete <i class="material-icons left">delete</i>
                <% end %>



                  <% else %>

                  <% if current_user.friends.include?(@profile.user) %>

                  <!-- <%= button_to gen_like_path, params: {post_id: post.id, profile_id: @profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                  Like <i class="material-icons left">thumb_up</i>
                  <% end %>

                  <%= button_to gen_dislike_path, params: {post_id: post.id, profile_id: @profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                  Dislike <i class="material-icons left">thumb_down</i>
                  <% end %> -->

                  <%= form_for @comment do |f| %>
                  <%= f.text_field :content, placeholder: "type your comment here" %>
                  <%= button_to create_comment_path, params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
                  Comment <i class="material-icons left">comment</i>
                  <% end %>
                  <% end %> <br>
                  <% end %>

                <% end %>
              </div>

        </div>
        <% end %>
      <% end %>

  </div>
</div>
</div>
