<div class="container">
  <h2 class="center-align"> Welcome To LearnBook </h2> <br> <br>

  <%= flash[:message] %>
  <div class="row">
    <div class="col s4 offset-s4">
  <div class="center-align">
  <%= form_tag create_session_path do  %>
  <label> Username </label> <br>
  <p class="center-align",id="login"> <%= text_field_tag :username %> </p> <br>

  <label> Password </label> <br>
  <%= password_field_tag :password %> <br>

  <%= submit_tag "Log In", class: "waves-effect waves-light blue lighten-3 btn" %> <br> <br>
  <% end %>

  <%= link_to "Create New Account", new_user_path %>
</div>
</div>
</div>
</div>
