
<div class="container">
  <br>
  <%= flash[:message] %>

  <h3 class="flow-text">  <p>  Hi <%= @user.username   %>! <br> <br> Welcome to the LearnBook homepage! <br>
    <ul>

        <li> Click on All Students on the navbar to browse current students or enter profile information. </p>  </h3> <br> <br>



  <%= button_to "Create New Post", new_post_path, method: "get", class: "waves-effect waves-light blue lighten-3 btn" %> <br> <br>
  <%= button_to "Customize Profile", edit_profile_path(@user.profile), method: "get", class: "waves-effect waves-light blue lighten-3 btn" %> <br> <br>
  <%= button_to "Update User Account", edit_user_path(current_user), method: "get",class: "waves-effect waves-light blue lighten-3 btn"  %>
</div>
