<div class="container">
    <h3 class="center-align"> Your Friend Feed </h3>

    <% @posts.reverse.each do |post| %>
    <% if current_user.friends.include?(post.user) %>
    <div class="row">
        <div class="col s8 offset-s2">
          <div class="card hoverable grey lighten-5 z-depth-2 center">
            <div class="card-content black-text">
              <%= post.created_at %> <br>
              <%= link_to image_tag(post.user.profile_pic.url(:thumbnail), class:"circle"), profile_path(post.user.profile) %> <br>
              <%= post.user.first_name %>
              <div class="card-title"> <em> <%= post.title %>  </em> </div>
              <p>
              <% if post.image.present? %>
              <%= image_tag post.image.url(:medium) %>
              <% end %> <br>
              <%= post.content %> <br>
            </p>
            <div class="row">
              <div class="col s6">
            <%= button_to gen_like_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
            <%= "#{post.likes.count} Likes"  %><i class="material-icons left">thumb_up</i>
            <% end %>
          </div>

          <div class="col s6">
            <%= button_to gen_dislike_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
            <%= "#{post.dislikes.count} Dislikes"  %><i class="material-icons left">thumb_down</i>
            <% end %> <br> <br>
          </div>
              </div>

              <b> Comments </b> <br>
              <ul class="collection">
              <% post.comments.each do |comment| %>
                <li class="collection-item avatar grey lighten-4 z-depth-5">
                  <%=image_tag "#{comment.user.profile_pic ||= 'no_user_logo.jpeg'}", class:"circle" %>
                  <span class="title left"><strong> <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", profile_path(comment.user.profile) %></strong></span>
                  <p> <br>
                    <div class="left">
                     <%= comment.content %> <br>
                   </div>
                    </p>

                  </li>
              <% end %>
            </ul>

            </div>
            <div class="card-action">

              <%= form_for @comment do |f| %>
              <%= f.text_field :content, placeholder: "type your comment here" %>
              <%= button_to create_comment_path, params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
              Comment <i class="material-icons left">comment</i>
              <% end %>

              <% end %>

            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
