<div class="container">
    <h2 class="center-align"> Your Daily Feed </h2>

    <% @posts.reverse.each do |post| %>
    <div class="row">
        <div class="col s6 offset-s3">
          <div class="card hoverable grey lighten-5 z-depth-2 center">
            <div class="card-content black-text">
              <%= post.created_at %>
              <span class="card-title"> <em> <%= post.title %>  </em> </span>
              <%= post.content %> <br><br>
              <%= " - #{post.user.first_name} #{post.user.last_name}" %> <br> <br>

              <div class="row">
                <div class="col s6">
              <font color="green"> Likes: <%= post.likes.count %> </font>
              </div>
              <div class="col s6">
              <font color="red"> Dislikes: <%= post.dislikes.count %> </font>
              </div>
              </div>

              <b> Comments </b> <br>
              <ul class="collection">
              <% post.comments.each do |comment| %>
                <li class="collection-item avatar grey lighten-4 z-depth-5">
                  <%=image_tag "#{comment.user.profile.pic ||= 'no_user_logo.jpeg'}", class:"circle" %>
                  <span class="title"><strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong></span>
                  <p>
                     <%= comment.content %> <br>
                    </p>
                  </li>
              <% end %>
            </ul>

            </div>
            <div class="card-action">


              <%= button_to gen_like_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
              Like <i class="material-icons left">thumb_up</i>
              <% end %>

              <%= button_to gen_dislike_path, params: {post_id: post.id, profile_id: post.user.profile.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
              Dislike <i class="material-icons left">thumb_down</i>
              <% end %> <br> <br>


              <%= form_for @comment do |f| %>
              <%= f.text_field :content, placeholder: "type your comment here" %>
              <%= button_to create_comment_path, params: {post_id: post.id}, class: "inline-buttons waves-effect waves-light blue lighten-3 btn" do %>
              Comment <i class="material-icons left">comment</i>
              <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
      <% end %>
