<!DOCTYPE html>
<html>
  <head>
    <title>Learnbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

  <style>
    div.divname {
        float: left;
        margin-right: 5px;
        display: inline-block;
        background-color: red;
    }
    div.pending {

        display: inline-block;
        background-color: red;
    }
  </style>
      <% if current_user %>
      <nav>
          <div class="nav-wrapper blue lighten-3">

            <a href="#" class="brand-logo right custom">LearnBook</a>
            <a class="center"> <%=current_user.username%></a>

            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href= "/posts">Feed</a></li>
              <li><a href="/messages">Messages</a></li>
              <li><a href="/friendships">Students</a></li>
              <li><a href="/users/<%= current_user.id %>">Home Page</a></li>
              <li><a href="/profiles/<%= current_user.profile.id %>">Profile Page</a></li>
              <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            </ul>
          </div>
        </nav>

        <% current_user.received_messages.each do |rcvd_message| %>

           <% if (!rcvd_message.message_status) %>
           <%new_message_from = User.find(rcvd_message.user_sent).first_name %>
           <div class="divname">
               <%= button_to "#{new_message_from} sent you a new message", messages_path, method: "get"%>
           <%end%>
         </div>
       <%end%><br> <br>

    <% if !check_pending_requests.empty?  %>
    <%= button_to "#{num_of_pending_requests} Pending Friend Requests",friend_request_page_path(current_user), method: "get" %>
    <% end %>
    <div class="center">
      <%= form_tag search_path, method:"get" do  %>
      <%= text_field_tag :first_name, nil, placeholder: "First Name" %> <%= text_field_tag :last_name, nil, placeholder: "Last Name" %>
      <%= submit_tag "Search", class: "waves-effect waves-light blue lighten-3 btn" %>
      <% end %> <br>
    </div>
    <div class="row">
      <div class="col s12">
      </div>
      <div class="col s6">

      </div>
    </div>
    <div class="row">
      <div class="col s12 ">
        <div class= "center-align">


          <% end %>
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
